<div class="px-6 py-8">
    <div class="flex justify-center container mx-auto">
        <div class="w-full">
            <div class="items-end justify-start h-96 hero bg-primary rounded-box">
                <div class="hero-content">
                    <div class="py-6 hero-text">
                        <div class="py-2 font-bold text-9xl text-primary-content">TMH</div>
                        <div class="py-2 text-5xl font-bold text-primary-content">Building a Quiz app to Study while studying</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-6 py-8">
    <div class="flex justify-center container mx-auto">
        <div class="w-full">
            <div class="mt-6">
                <div class="max-w-4xl px-10 py-6 bg-base-100 rounded-lg shadow-md">
                    <div class="flex justify-between items-center mb-11">
                        <span class="font-light text-neutral">3/15/21</span>
                        <div>
                            <a href="#" class="px-2 py-1 bg-accent text-accent-content font-bold rounded hover:bg-accent-focus">Tag</a>
                            <a href="#" class="px-2 py-1 bg-accent text-accent-content font-bold rounded hover:bg-accent-focus">Tag</a>
                            <a href="#" class="px-2 py-1 bg-accent text-accent-content font-bold rounded hover:bg-accent-focus">Tag</a>
                        </div>
                    </div>
                    <p class="mt-2 text-neutral">
                        &emsp;With all of the variety of badges and skills tests that are out there, find a singular way to study, is actually easier than it looks. But
                        who wants to do it the easy way? Turns out, both are easy!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>