@model List<tmherronProfessionalSite.ViewModel.FeedBriefViewModel>
@{
    ViewData["Title"] = "Tim Herron - .Net Developer";

    Dictionary<string, string> metaTags = new Dictionary<string, string>();
    metaTags.Add("og:title", "Tim Herron - .Net Developer");
    metaTags.Add("twitter:title", "Tim Herron - .Net Developer");
    metaTags.Add("og:type", "website");
    metaTags.Add("og:url", "https://TimHerron.dev");
    metaTags.Add("og:description", "Professional Portfolio of Tim Herron");
    metaTags.Add("twitter:description", "Professional Portfolio of Tim Herron");
    metaTags.Add("og:image", "https://timherron.dev/images/tmh_meta.png");
    metaTags.Add("twitter:image", "https://timherron.dev/images/tmh_meta.png");
    metaTags.Add("twitter:url", "https://TimHerron.dev");
    metaTags.Add("twitter:domain", "https://TimHerron.dev");
    ViewData["MetaTags"] = metaTags;
}


<partial name="_HeroViewPartial" />


<hr class="w-8/12 my-24 border-dashed rounded-sm border-2 opacity-40 border-green-700 mx-auto" />



<div class="">

    @foreach (var item in Model)
    {
        <partial name="_FeedBriefPartial" model="item" />
    }

</div>


@section Scripts {
    <script src="@Url.Content("~/js/ContactForm.jsx")"></script>
}