<!DOCTYPE html>
<html lang="en" data-theme="garden">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TMH_ProfPort</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-base-100">


    <div class="drawer drawer-mobile">
        <input id="main-menu" type="checkbox" class="drawer-toggle" />
        <main class="flex-grow block w-full overflow-x-hidden bg-base-100 text-base-content drawer-content">
            <!-- Top Nav Responsive -->
            <div class="sticky inset-x-0 top-0 z-50 border-b navbar bg-base-100 text-base-content border-base-200 lg:hidden">
                <div class="flex-none">
                    <label for="main-menu" class="btn btn-square btn-ghost drawer-button">
                        <!-- Hamburger -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                </div>
                <div class="justify-center flex-1">
                    <a href="/" class="px-2 text-center transition-all duration-300 ease-in-out rounded-btn flex-0 hover:bg-neutral hover:bg-opacity-10 active nuxt-link-active" aria-current="page">
                        <div class="inline-block w-20 pt-2 text-2xl text-center">TopNavLogo</div>
                    </a>
                </div>
            </div>
            <!-- End Top Nav Responsive -->
            <!-- BEGIN MAIN BODY -->
            <div class="p-4 pb-0 lg:p-10 lg:pb-0">

                @RenderBody()

            </div>
            <!-- END MAIN BODY -->
        </main>
        <div class="drawer-side">
            <label for="main-menu" class="drawer-overlay"></label>
            <!-- Start Drawer (Desktop and Mobile shared) -->
            <aside class="flex flex-col justify-between border-r bg-base-100 border-base-200 w-80">
                <div>
                    <!-- Start Drawer Desktop Large logo Btn -->
                    <div class="flex items-center">
                        <a href="/" class="flex-1 hidden mx-4 mt-4 mb-0 text-center transition-all duration-300 ease-in-out lg:block rounded-btn flex-0 hover:bg-neutral hover:bg-opacity-10 active nuxt-link-active" aria-current="page">
                            <div class="inline-block w-20 mx-4 my-1 lg:my-6 lg:w-28">
                                <!--?xml version="1.0" encoding="UTF-8"?-->
                                BIG DRAWER LOGO BUTTON
                            </div>
                        </a>
                    </div>
                    <!-- End Desktop Large logo Btn -->
                    <ul class="menu flex flex-col p-4 pb-10 compact text-base-content">

                        <li class="mt-4 menu-title"><span> TIMHERRON.DEV </span></li>
                        <li class="mt-2"><a href="#" class="capitalize" style="font-size: 1.75rem;"> Home </a></li>
                        <li class="mt-2"><a href="#" class="capitalize" style="font-size: 1.75rem;"> About </a></li>
                        <li class="mt-2"><a href="#" class="capitalize" style="font-size: 1.75rem;"> Projects </a></li>
                        <li class="mt-2"><a href="#" class="capitalize" style="font-size: 1.75rem;"> Contact Me </a></li>
                        <li class="mt-2"><a href="#" class="capitalize" style="font-size: 1.75rem;"> HeyCurator </a></li>
                        <li class="mt-4 menu-title"><span class="capitalize"> Additional </span></li>
                        <li class="mt-2">
                            <a href="https://github.com/tmherron09" class="capitalize" style="font-size: 1.75rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                </svg>
                                <span class="ml-1" style="font-size: 1.75rem;">Github</span>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="https://www.linkedin.com/in/timothy-m-herron/" class="capitalize" style="font-size: 1.75rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
                                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                                    <rect x="2" y="9" width="4" height="12"></rect>
                                    <circle cx="4" cy="4" r="2"></circle>
                                </svg>
                                <span class="ml-1" style="font-size: 1.75rem;">LinkIn</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </aside>
            <!-- End Shared Drawer -->
        </div>
    </div>


</body>
</html>