@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card bg-base-content p-8 max-w-xl lg:max-w-4xl mx-auto my-36">
    <div class="inline-block text-error text-8xl font-bold border-b-4 border-primary mb-4">Error</div>

    <div class="text-3xl text-error font-bold">An error occurred while processing your request.</div>
</div>



@if (Model.ShowRequestId)
{
    <div class="card bg-base-content p-8 max-w-xl lg:max-w-4xl mx-auto mb-20">
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    </div>
        }



        <div class="card bg-base-content p-8 max-w-lg lg:max-w-4xl mx-auto">

            <div class="text-3xl text-error font-bold text-">Please Try Re-Submitting the Contact Form, Thank you.</div>
        </div>
