@model List<tmherronProfessionalSite.ViewModel.FeedBriefViewModel>

    <div class="mt-12">

        @foreach (var item in Model)
        {
            <partial name="_FeedBriefPartial" model="item" />
        }

    </div>