
@{

    ViewData["Title"] = "Hey Curator Portfolio Details";

}


<div class="m-auto max-w-6xl p-12 bg-indigo-200 rounded-md">
    <div class="flex flex-col md:flex-row">
        <div class="md:w-1/2 max-w-md flex flex-col justify-center md:mr-6 lg:mr-4">
            <div class="md:text-5xl text-2xl uppercase font-black transform -rotate-3 pb-4">Hey Curator!</div>
            <div class="text-xl mt-4 tracking-wide leading-10 text-justify">
                Meeting the specialized needs of dynamic hands-on enviroments of children's museums, education centers,
                and other non-profits looking for a system to support their growing collections and consumables.
            </div>

        </div>
        <div class="flex md:justify-end w-full md:w-1/2 -mt-5">
            <div class="shadow-2xl max-w-md z-10 rounded-full mt-6 ml-4">
                <img alt="card img" class="rounded-t transform translate-y-4 scale-125" src="https://timherron.dev/svg/logo.svg">
                <div class="text-2xl p-10 bg-white">
                    <img alt="quote" class="float-left mr-1" src="~/svg/quote-into.svg">
                    Hey Curator!? How many wooden balls do we have in-stock? When was the last time we counted the baby dolls? Do you know where we ordered
                    the magnetic wands from?
                    <br />
                    <img alt="quote" style="transform: scaleX(-1);" class="float-right" src="~/svg/quote-into.svg">
                </div>
            </div>
        </div>
    </div>
</div>