
@{

    Layout = "_LayoutDaisyReplicate";

}


<div class="pb-0 bg-neutral-content">
    <div class="mx-auto mt-16 text-center text-base-content">
        <div class="inline-block w-44 lg:w-60">LOGO</div>
        <p class="py-4 font-bold text-accent-focus">Tailwind CSS Components Using Daisy UI Components</p>
        <p class="pb-4 font-bold text-accent-focus">and styles forked off the UI Library by Pouya Saadeghi</p>
        <div class="text-sm italic text-opacity-50 text-base-content">Adds components and styles for TimHerron.dev</div>
    </div>
    <!-- Start Github Link -->
    <div class="flex flex-col items-center">
        <div class="flex space-x-4 mb-2">
            <a href="https://github.com/saadeghi/daisyui" target="_blank" class="btn-lg btn btn-ghost">
                <svg width="24" height="24" fill="currentColor" class="mr-2 text-base-content">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z"></path>
                </svg>
                daisyUI Github
            </a>
        </div>
        <div class="flex space-x-4">
            <a href="https://github.com/tmherron09/ProfessionalPortfolio" target="_blank" class="btn-lg btn btn-ghost">
                <svg width="24" height="24" fill="currentColor" class="mr-2 text-base-content">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z"></path>
                </svg>
                timherron.dev Github
            </a>
        </div>
    </div>
    <!-- End Github Link -->
    <!-- Start Mini Links -->
    <div class="mt-6 text-center">
        <a target="_blank" href="https://play.tailwindcss.com/whCH0z6ZlQ" class="btn btn-link btn-sm">Tailwind Play (daisyUI)</a>
        <a target="_blank" href="https://timherron.dev" class="btn btn-link btn-sm">timherron.dev</a>
        <a target="_blank" href="https://github.com/tmherron09" class="btn btn-link btn-sm">Github TMH</a>
        <a target="_blank" href="https://heycurator.timherron.dev" class="btn btn-link btn-sm">Hey Curator</a>
    </div>
    <!--  End Mini Links -->
    <!-- Start Feature Header -->
    <div class="flex justify-center pt-32 pb-12">
        <div class="inline-block text-3xl font-bold border-b-8 lg:text-7xl text-base-content border-primary">Features</div>
    </div>
    <!-- End Feature Header -->
    <!-- START FEATURES CARD -->
    <div class="grid grid-cols-1 gap-10 px-4 py-20 mx-auto lg:max-w-5xl lg:text-center lg:grid-cols-2 justify-items-center rounded-box bg-base-200">
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                Component classes
            </h2>
            <p class="text-opacity-50 text-base-content">It adds component classes to Tailwind. Classes like <span class="badge badge-info">btn</span>, <span class="badge badge-info">card</span>,... No need to deal with hundreds of utility classes.</p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                Tailwind CSS plugin
            </h2>
            <p class="text-opacity-50 text-base-content">DaisyUI is a Tailwind CSS plugin so you can simply add it to your <span class="badge badge-info">tailwind.config.js</span> file.</p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                Based on design system
            </h2>
            <p class="text-opacity-50 text-base-content">DaisyUI applies design system concepts to Tailwind CSS. Every component on your page is committed to a single design system.</p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                Customizable
            </h2>
            <p class="text-opacity-50 text-base-content">You can customize the design of components with Tailwind utility classes and CSS variables.</p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                Semantic color names
            </h2>
            <p class="text-opacity-50 text-base-content">Use color names like <span class="badge badge-info">primary</span>, <span class="badge badge-info">secondary</span>, <span class="badge badge-info">accent</span>,... just like your design system defines.</p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                RTL supported
            </h2>
            <p class="text-opacity-50 text-base-content">Enable <span class="badge badge-info">rtl</span> config for right to left layouts.</p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                Themeable
            </h2>
            <p class="text-opacity-50 text-base-content">Add multiple themes or change colors with a CSS variable. You can even set a theme for a specific section of your page.</p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-bold card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 mb-2 mr-2 stroke-current text-success">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <br />
                Designer-friendly
            </h2>
            <p class="text-opacity-50 text-base-content">You can disable <span class="badge badge-info">styled</span> config and only get the skeleton of components. No style, no colors. You can style everything using utility classes.</p>
        </div>
    </div>
    <!-- END FEATURES CARD -->
    <!-- DESIGNED BY -->
    <div class="grid grid-cols-1 mt-20 mb-0 bg-base-300 rounded-t-md">
        <div class="flex justify-center">
            <div class="flex-row items-center max-w-xs space-x-4 card-body">
                <div>
                    <div class="avatar">
                        <div class="rounded-full shadow w-14 h-14"><img src="~/images/tmh_hs.png" /></div>
                    </div>
                </div>
                <a href="https://twitter.com/MagnusTimsy" target="_blank" class="hover:opacity-75">
                    <p class="text-xs text-opacity-50 text-base-content">Modified by</p>
                    <h2 class="card-title">Tim Herron</h2>
                </a>
            </div>
        </div>
    </div>
    <!-- END DESIGNED BY -->
</div>