


<div class="my-24"></div>

<div class="max-w-xl sm:max-w-2xl md:max-w-4xl lg:max-w-5xl xl:max-w-5xl items-end justify-start h-72 md:h-96 hero bg-primary rounded-box mx-auto">
    <div class="hero-content">
        <div class="py-6 hero-text">
            <div class="py-2 font-bold text-6xl md:text-9xl text-primary-content">Thank you!</div>
            <div class="py-2 text-4xl sm:text-5xl font-bold text-primary-content">For you submission.</div>
            <p class="text-primary-content">And please feel free to reach out and contact me directly.</p>
        </div>
    </div>
</div>
